<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zap - Secure Credential Manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if 'user' in session %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <header>
        <h1>Zap ⚡</h1>
        <p>Welcome to Zap, your Secure Credential Manager. Easily manage and protect your credentials with confidence. Please log in to get started!</p>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>